html, body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #000000;
	font-weight: 300;
	height: 100%;
	/*min-height: 900px;*/
}

code {
    padding: 2px 4px;
    font-size: 15px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.item-form .head {
    background-image: linear-gradient(to bottom, #fafafa, #f2f2f2);
    background-repeat: repeat-x;
    height: 55px;
    line-height: 55px;
    color: #555;
    float: left;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
    font-size: 18px;
    font-weight: 500;
    border-top-right-radius: 3px;
    padding: 0 15px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    width: 320px;
    text-align: center;
}

.item-form {
    width: 350px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 18px;
    margin-top: 30px;
}

.body {
    width: 100%;
    margin-top: 62px;
	text-align: center;
}